{% extends "base_generic.html" %}

{% block content %}
<style>
  table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>    
<h1>Список образовательных ресурсов</h1>

    {% if education_list %}
    <table >
      <tr>
        <th>Ссылка</th>
        <th>Комментарий</th>
        <th>Последний визит</th>
      </tr>
      {% for education in education_list %}
      <tr>
       <td> {{ education.url|urlize }} </td>
      
       <td> {{education.comment}} </td>
       
       <td> {{education.last_visit}} </td>
      
       
       <td><a href="delete/{{education.id}}">Удалить</a></td>
      
       
      
      </tr>
      {% endfor %}
      
       
      
    </table>
    {% else %}
    <li><a href="{% url 'add_education' %}">Добавить ресурсы</a></li>
    {% endif %}
{% endblock %}